#main {
  overflow: hidden;
  padding: 20px;
  padding-left: 30px;
  background-color: #fff;
}
#main a {
  padding: 10px 8px;
  background: #f4f4f4;
  border: 1px solid #bfbfbf;
  float: left;
  margin: 5px;
  display: block;
  overflow: hidden;
}
#main a img {
  margin-right: 5px;
  vertical-align: middle;
  overflow: hidden;
}
